%title {
	font: {
		size: 2rem;
		weight: 600;
	}
	line-height: 1.2;
}

%sectionHeader {
  padding: 3.7rem;
	@include flex(center, center, column);
}

%sectionTitle {
	font: {
		size: 1.9rem;
		weight: 600;
	}
	text-transform: uppercase;
}

%sectionSubtitle {
  line-height: 1.3;
	text-align: center;
}

%text {
	line-height: 1.6;
}

%btn {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
	cursor: pointer;
	background-color: transparent;

  &:focus,
	&:active {
    outline: none;
	}
}

%toggle-before-after {
	position: absolute;
	font-size: 11px;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: normal;
	text-transform: uppercase;
	color: $purple;
	-webkit-font-smoothing: antialiased;
}

%purpleButton {
	background-color: $purple;
	color: #fff;
	border: 2px solid $purple;
	border-radius: 4rem;
  padding: 0.7rem;
  width: 12rem;
  height: 3.3rem;
  font-size: .7rem;
  font-weight: bold;
	text-transform: uppercase;
  transition: all $duration ease;
	&:hover {
		background-color: transparent;
		color: $dark-gray;
		font-weight: bold;
	}
}

%socialNetworksButton {
  @include flex();
  width: 2.8rem;
  height: 2.8rem;
  border: {
    width: 2px;
    style: solid;
    radius: 50%;
  }
  margin: 0 0.2rem;
  svg {
    width: 0.8rem;
    height: 0.8rem;
  }
}

%divider,
.divider {
	width: 2.7rem;
  height: 2px;
	background-color: $purple;
	margin: 1rem 0;
}

%servicesContentTitle {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3;
}

@media (min-width: 1280px) {

	%sectionInner {
		// max-width: 1140px; /* Uncomment this out to switch from responsive to adaptive layout */
		max-width: 1680px; /* Comment this out to switch from responsive to adaptive layout */
		margin: 0 auto;
	}

}
