// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$services-accompaniment-name: 'services-accompaniment';
$services-accompaniment-x: 84px;
$services-accompaniment-y: 0px;
$services-accompaniment-offset-x: -84px;
$services-accompaniment-offset-y: 0px;
$services-accompaniment-width: 40px;
$services-accompaniment-height: 39px;
$services-accompaniment-total-width: 124px;
$services-accompaniment-total-height: 106px;
$services-accompaniment-image: 'assets/img/sprite.png';
$services-accompaniment: (84px, 0px, -84px, 0px, 40px, 39px, 124px, 106px, 'assets/img/sprite.png', 'services-accompaniment', );
$services-documentation-name: 'services-documentation';
$services-documentation-x: 0px;
$services-documentation-y: 42px;
$services-documentation-offset-x: 0px;
$services-documentation-offset-y: -42px;
$services-documentation-width: 42px;
$services-documentation-height: 42px;
$services-documentation-total-width: 124px;
$services-documentation-total-height: 106px;
$services-documentation-image: 'assets/img/sprite.png';
$services-documentation: (0px, 42px, 0px, -42px, 42px, 42px, 124px, 106px, 'assets/img/sprite.png', 'services-documentation', );
$services-optimization-name: 'services-optimization';
$services-optimization-x: 0px;
$services-optimization-y: 0px;
$services-optimization-offset-x: 0px;
$services-optimization-offset-y: 0px;
$services-optimization-width: 42px;
$services-optimization-height: 42px;
$services-optimization-total-width: 124px;
$services-optimization-total-height: 106px;
$services-optimization-image: 'assets/img/sprite.png';
$services-optimization: (0px, 0px, 0px, 0px, 42px, 42px, 124px, 106px, 'assets/img/sprite.png', 'services-optimization', );
$services-order-name: 'services-order';
$services-order-x: 42px;
$services-order-y: 42px;
$services-order-offset-x: -42px;
$services-order-offset-y: -42px;
$services-order-width: 40px;
$services-order-height: 41px;
$services-order-total-width: 124px;
$services-order-total-height: 106px;
$services-order-image: 'assets/img/sprite.png';
$services-order: (42px, 42px, -42px, -42px, 40px, 41px, 124px, 106px, 'assets/img/sprite.png', 'services-order', );
$sn-footer-facebook-name: 'sn-footer-facebook';
$sn-footer-facebook-x: 113px;
$sn-footer-facebook-y: 84px;
$sn-footer-facebook-offset-x: -113px;
$sn-footer-facebook-offset-y: -84px;
$sn-footer-facebook-width: 5px;
$sn-footer-facebook-height: 12px;
$sn-footer-facebook-total-width: 124px;
$sn-footer-facebook-total-height: 106px;
$sn-footer-facebook-image: 'assets/img/sprite.png';
$sn-footer-facebook: (113px, 84px, -113px, -84px, 5px, 12px, 124px, 106px, 'assets/img/sprite.png', 'sn-footer-facebook', );
$sn-footer-linkedin-name: 'sn-footer-linkedin';
$sn-footer-linkedin-x: 101px;
$sn-footer-linkedin-y: 84px;
$sn-footer-linkedin-offset-x: -101px;
$sn-footer-linkedin-offset-y: -84px;
$sn-footer-linkedin-width: 12px;
$sn-footer-linkedin-height: 13px;
$sn-footer-linkedin-total-width: 124px;
$sn-footer-linkedin-total-height: 106px;
$sn-footer-linkedin-image: 'assets/img/sprite.png';
$sn-footer-linkedin: (101px, 84px, -101px, -84px, 12px, 13px, 124px, 106px, 'assets/img/sprite.png', 'sn-footer-linkedin', );
$sn-footer-twitter-name: 'sn-footer-twitter';
$sn-footer-twitter-x: 107px;
$sn-footer-twitter-y: 64px;
$sn-footer-twitter-offset-x: -107px;
$sn-footer-twitter-offset-y: -64px;
$sn-footer-twitter-width: 15px;
$sn-footer-twitter-height: 11px;
$sn-footer-twitter-total-width: 124px;
$sn-footer-twitter-total-height: 106px;
$sn-footer-twitter-image: 'assets/img/sprite.png';
$sn-footer-twitter: (107px, 64px, -107px, -64px, 15px, 11px, 124px, 106px, 'assets/img/sprite.png', 'sn-footer-twitter', );
$ui-arrow-down-name: 'ui-arrowDown';
$ui-arrow-down-x: 0px;
$ui-arrow-down-y: 84px;
$ui-arrow-down-offset-x: 0px;
$ui-arrow-down-offset-y: -84px;
$ui-arrow-down-width: 22px;
$ui-arrow-down-height: 22px;
$ui-arrow-down-total-width: 124px;
$ui-arrow-down-total-height: 106px;
$ui-arrow-down-image: 'assets/img/sprite.png';
$ui-arrow-down: (0px, 84px, 0px, -84px, 22px, 22px, 124px, 106px, 'assets/img/sprite.png', 'ui-arrowDown', );
$ui-arrow-up-name: 'ui-arrowUp';
$ui-arrow-up-x: 22px;
$ui-arrow-up-y: 84px;
$ui-arrow-up-offset-x: -22px;
$ui-arrow-up-offset-y: -84px;
$ui-arrow-up-width: 22px;
$ui-arrow-up-height: 22px;
$ui-arrow-up-total-width: 124px;
$ui-arrow-up-total-height: 106px;
$ui-arrow-up-image: 'assets/img/sprite.png';
$ui-arrow-up: (22px, 84px, -22px, -84px, 22px, 22px, 124px, 106px, 'assets/img/sprite.png', 'ui-arrowUp', );
$ui-pause-btn-purple-name: 'ui-pauseBtn-purple';
$ui-pause-btn-purple-x: 109px;
$ui-pause-btn-purple-y: 39px;
$ui-pause-btn-purple-offset-x: -109px;
$ui-pause-btn-purple-offset-y: -39px;
$ui-pause-btn-purple-width: 12px;
$ui-pause-btn-purple-height: 20px;
$ui-pause-btn-purple-total-width: 124px;
$ui-pause-btn-purple-total-height: 106px;
$ui-pause-btn-purple-image: 'assets/img/sprite.png';
$ui-pause-btn-purple: (109px, 39px, -109px, -39px, 12px, 20px, 124px, 106px, 'assets/img/sprite.png', 'ui-pauseBtn-purple', );
$ui-play-btn-dark-gray-name: 'ui-playBtn-darkGray';
$ui-play-btn-dark-gray-x: 42px;
$ui-play-btn-dark-gray-y: 0px;
$ui-play-btn-dark-gray-offset-x: -42px;
$ui-play-btn-dark-gray-offset-y: 0px;
$ui-play-btn-dark-gray-width: 42px;
$ui-play-btn-dark-gray-height: 42px;
$ui-play-btn-dark-gray-total-width: 124px;
$ui-play-btn-dark-gray-total-height: 106px;
$ui-play-btn-dark-gray-image: 'assets/img/sprite.png';
$ui-play-btn-dark-gray: (42px, 0px, -42px, 0px, 42px, 42px, 124px, 106px, 'assets/img/sprite.png', 'ui-playBtn-darkGray', );
$ui-play-btn-purple-name: 'ui-playBtn-purple';
$ui-play-btn-purple-x: 44px;
$ui-play-btn-purple-y: 84px;
$ui-play-btn-purple-offset-x: -44px;
$ui-play-btn-purple-offset-y: -84px;
$ui-play-btn-purple-width: 17px;
$ui-play-btn-purple-height: 21px;
$ui-play-btn-purple-total-width: 124px;
$ui-play-btn-purple-total-height: 106px;
$ui-play-btn-purple-image: 'assets/img/sprite.png';
$ui-play-btn-purple: (44px, 84px, -44px, -84px, 17px, 21px, 124px, 106px, 'assets/img/sprite.png', 'ui-playBtn-purple', );
$ui-quotes-gray-name: 'ui-quotes-gray';
$ui-quotes-gray-x: 61px;
$ui-quotes-gray-y: 84px;
$ui-quotes-gray-offset-x: -61px;
$ui-quotes-gray-offset-y: -84px;
$ui-quotes-gray-width: 20px;
$ui-quotes-gray-height: 15px;
$ui-quotes-gray-total-width: 124px;
$ui-quotes-gray-total-height: 106px;
$ui-quotes-gray-image: 'assets/img/sprite.png';
$ui-quotes-gray: (61px, 84px, -61px, -84px, 20px, 15px, 124px, 106px, 'assets/img/sprite.png', 'ui-quotes-gray', );
$ui-quotes-red-name: 'ui-quotes-red';
$ui-quotes-red-x: 81px;
$ui-quotes-red-y: 84px;
$ui-quotes-red-offset-x: -81px;
$ui-quotes-red-offset-y: -84px;
$ui-quotes-red-width: 20px;
$ui-quotes-red-height: 15px;
$ui-quotes-red-total-width: 124px;
$ui-quotes-red-total-height: 106px;
$ui-quotes-red-image: 'assets/img/sprite.png';
$ui-quotes-red: (81px, 84px, -81px, -84px, 20px, 15px, 124px, 106px, 'assets/img/sprite.png', 'ui-quotes-red', );
$ui-reload-name: 'ui-reload';
$ui-reload-x: 84px;
$ui-reload-y: 64px;
$ui-reload-offset-x: -84px;
$ui-reload-offset-y: -64px;
$ui-reload-width: 23px;
$ui-reload-height: 20px;
$ui-reload-total-width: 124px;
$ui-reload-total-height: 106px;
$ui-reload-image: 'assets/img/sprite.png';
$ui-reload: (84px, 64px, -84px, -64px, 23px, 20px, 124px, 106px, 'assets/img/sprite.png', 'ui-reload', );
$ui-youtube-name: 'ui-youtube';
$ui-youtube-x: 84px;
$ui-youtube-y: 39px;
$ui-youtube-offset-x: -84px;
$ui-youtube-offset-y: -39px;
$ui-youtube-width: 25px;
$ui-youtube-height: 25px;
$ui-youtube-total-width: 124px;
$ui-youtube-total-height: 106px;
$ui-youtube-image: 'assets/img/sprite.png';
$ui-youtube: (84px, 39px, -84px, -39px, 25px, 25px, 124px, 106px, 'assets/img/sprite.png', 'ui-youtube', );
$spritesheet-width: 124px;
$spritesheet-height: 106px;
$spritesheet-image: 'assets/img/sprite.png';
$spritesheet-sprites: ($services-accompaniment, $services-documentation, $services-optimization, $services-order, $sn-footer-facebook, $sn-footer-linkedin, $sn-footer-twitter, $ui-arrow-down, $ui-arrow-up, $ui-pause-btn-purple, $ui-play-btn-dark-gray, $ui-play-btn-purple, $ui-quotes-gray, $ui-quotes-red, $ui-reload, $ui-youtube, );
$spritesheet: (124px, 106px, 'assets/img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
