// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$services-accompaniment-active-name: 'services-accompaniment-active';
$services-accompaniment-active-x: 42px;
$services-accompaniment-active-y: 0px;
$services-accompaniment-active-offset-x: -42px;
$services-accompaniment-active-offset-y: 0px;
$services-accompaniment-active-width: 42px;
$services-accompaniment-active-height: 42px;
$services-accompaniment-active-total-width: 126px;
$services-accompaniment-active-total-height: 324px;
$services-accompaniment-active-image: 'assets/img/sprite.png';
$services-accompaniment-active: (42px, 0px, -42px, 0px, 42px, 42px, 126px, 324px, 'assets/img/sprite.png', 'services-accompaniment-active', );
$services-accompaniment-name: 'services-accompaniment';
$services-accompaniment-x: 42px;
$services-accompaniment-y: 42px;
$services-accompaniment-offset-x: -42px;
$services-accompaniment-offset-y: -42px;
$services-accompaniment-width: 42px;
$services-accompaniment-height: 42px;
$services-accompaniment-total-width: 126px;
$services-accompaniment-total-height: 324px;
$services-accompaniment-image: 'assets/img/sprite.png';
$services-accompaniment: (42px, 42px, -42px, -42px, 42px, 42px, 126px, 324px, 'assets/img/sprite.png', 'services-accompaniment', );
$services-documentation-active-name: 'services-documentation-active';
$services-documentation-active-x: 0px;
$services-documentation-active-y: 84px;
$services-documentation-active-offset-x: 0px;
$services-documentation-active-offset-y: -84px;
$services-documentation-active-width: 42px;
$services-documentation-active-height: 42px;
$services-documentation-active-total-width: 126px;
$services-documentation-active-total-height: 324px;
$services-documentation-active-image: 'assets/img/sprite.png';
$services-documentation-active: (0px, 84px, 0px, -84px, 42px, 42px, 126px, 324px, 'assets/img/sprite.png', 'services-documentation-active', );
$services-documentation-name: 'services-documentation';
$services-documentation-x: 0px;
$services-documentation-y: 42px;
$services-documentation-offset-x: 0px;
$services-documentation-offset-y: -42px;
$services-documentation-width: 42px;
$services-documentation-height: 42px;
$services-documentation-total-width: 126px;
$services-documentation-total-height: 324px;
$services-documentation-image: 'assets/img/sprite.png';
$services-documentation: (0px, 42px, 0px, -42px, 42px, 42px, 126px, 324px, 'assets/img/sprite.png', 'services-documentation', );
$services-info-active-name: 'services-info-active';
$services-info-active-x: 37px;
$services-info-active-y: 126px;
$services-info-active-offset-x: -37px;
$services-info-active-offset-y: -126px;
$services-info-active-width: 30px;
$services-info-active-height: 30px;
$services-info-active-total-width: 126px;
$services-info-active-total-height: 324px;
$services-info-active-image: 'assets/img/sprite.png';
$services-info-active: (37px, 126px, -37px, -126px, 30px, 30px, 126px, 324px, 'assets/img/sprite.png', 'services-info-active', );
$services-info-name: 'services-info';
$services-info-x: 7px;
$services-info-y: 126px;
$services-info-offset-x: -7px;
$services-info-offset-y: -126px;
$services-info-width: 30px;
$services-info-height: 30px;
$services-info-total-width: 126px;
$services-info-total-height: 324px;
$services-info-image: 'assets/img/sprite.png';
$services-info: (7px, 126px, -7px, -126px, 30px, 30px, 126px, 324px, 'assets/img/sprite.png', 'services-info', );
$services-optimization-active-name: 'services-optimization-active';
$services-optimization-active-x: 84px;
$services-optimization-active-y: 42px;
$services-optimization-active-offset-x: -84px;
$services-optimization-active-offset-y: -42px;
$services-optimization-active-width: 42px;
$services-optimization-active-height: 42px;
$services-optimization-active-total-width: 126px;
$services-optimization-active-total-height: 324px;
$services-optimization-active-image: 'assets/img/sprite.png';
$services-optimization-active: (84px, 42px, -84px, -42px, 42px, 42px, 126px, 324px, 'assets/img/sprite.png', 'services-optimization-active', );
$services-optimization-name: 'services-optimization';
$services-optimization-x: 0px;
$services-optimization-y: 0px;
$services-optimization-offset-x: 0px;
$services-optimization-offset-y: 0px;
$services-optimization-width: 42px;
$services-optimization-height: 42px;
$services-optimization-total-width: 126px;
$services-optimization-total-height: 324px;
$services-optimization-image: 'assets/img/sprite.png';
$services-optimization: (0px, 0px, 0px, 0px, 42px, 42px, 126px, 324px, 'assets/img/sprite.png', 'services-optimization', );
$services-order-active-name: 'services-order-active';
$services-order-active-x: 42px;
$services-order-active-y: 84px;
$services-order-active-offset-x: -42px;
$services-order-active-offset-y: -84px;
$services-order-active-width: 42px;
$services-order-active-height: 42px;
$services-order-active-total-width: 126px;
$services-order-active-total-height: 324px;
$services-order-active-image: 'assets/img/sprite.png';
$services-order-active: (42px, 84px, -42px, -84px, 42px, 42px, 126px, 324px, 'assets/img/sprite.png', 'services-order-active', );
$services-order-name: 'services-order';
$services-order-x: 84px;
$services-order-y: 0px;
$services-order-offset-x: -84px;
$services-order-offset-y: 0px;
$services-order-width: 42px;
$services-order-height: 42px;
$services-order-total-width: 126px;
$services-order-total-height: 324px;
$services-order-image: 'assets/img/sprite.png';
$services-order: (84px, 0px, -84px, 0px, 42px, 42px, 126px, 324px, 'assets/img/sprite.png', 'services-order', );
$ui-arrow-down-name: 'ui-arrowDown';
$ui-arrow-down-x: 29px;
$ui-arrow-down-y: 156px;
$ui-arrow-down-offset-x: -29px;
$ui-arrow-down-offset-y: -156px;
$ui-arrow-down-width: 22px;
$ui-arrow-down-height: 22px;
$ui-arrow-down-total-width: 126px;
$ui-arrow-down-total-height: 324px;
$ui-arrow-down-image: 'assets/img/sprite.png';
$ui-arrow-down: (29px, 156px, -29px, -156px, 22px, 22px, 126px, 324px, 'assets/img/sprite.png', 'ui-arrowDown', );
$ui-arrow-up-name: 'ui-arrowUp';
$ui-arrow-up-x: 7px;
$ui-arrow-up-y: 156px;
$ui-arrow-up-offset-x: -7px;
$ui-arrow-up-offset-y: -156px;
$ui-arrow-up-width: 22px;
$ui-arrow-up-height: 22px;
$ui-arrow-up-total-width: 126px;
$ui-arrow-up-total-height: 324px;
$ui-arrow-up-image: 'assets/img/sprite.png';
$ui-arrow-up: (7px, 156px, -7px, -156px, 22px, 22px, 126px, 324px, 'assets/img/sprite.png', 'ui-arrowUp', );
$ui-pause-btn-purple-name: 'ui-pauseBtn-purple';
$ui-pause-btn-purple-x: 24px;
$ui-pause-btn-purple-y: 178px;
$ui-pause-btn-purple-offset-x: -24px;
$ui-pause-btn-purple-offset-y: -178px;
$ui-pause-btn-purple-width: 12px;
$ui-pause-btn-purple-height: 20px;
$ui-pause-btn-purple-total-width: 126px;
$ui-pause-btn-purple-total-height: 324px;
$ui-pause-btn-purple-image: 'assets/img/sprite.png';
$ui-pause-btn-purple: (24px, 178px, -24px, -178px, 12px, 20px, 126px, 324px, 'assets/img/sprite.png', 'ui-pauseBtn-purple', );
$ui-play-btn-dark-gray-name: 'ui-playBtn-darkGray';
$ui-play-btn-dark-gray-x: 84px;
$ui-play-btn-dark-gray-y: 84px;
$ui-play-btn-dark-gray-offset-x: -84px;
$ui-play-btn-dark-gray-offset-y: -84px;
$ui-play-btn-dark-gray-width: 42px;
$ui-play-btn-dark-gray-height: 42px;
$ui-play-btn-dark-gray-total-width: 126px;
$ui-play-btn-dark-gray-total-height: 324px;
$ui-play-btn-dark-gray-image: 'assets/img/sprite.png';
$ui-play-btn-dark-gray: (84px, 84px, -84px, -84px, 42px, 42px, 126px, 324px, 'assets/img/sprite.png', 'ui-playBtn-darkGray', );
$ui-play-btn-purple-name: 'ui-playBtn-purple';
$ui-play-btn-purple-x: 7px;
$ui-play-btn-purple-y: 178px;
$ui-play-btn-purple-offset-x: -7px;
$ui-play-btn-purple-offset-y: -178px;
$ui-play-btn-purple-width: 17px;
$ui-play-btn-purple-height: 21px;
$ui-play-btn-purple-total-width: 126px;
$ui-play-btn-purple-total-height: 324px;
$ui-play-btn-purple-image: 'assets/img/sprite.png';
$ui-play-btn-purple: (7px, 178px, -7px, -178px, 17px, 21px, 126px, 324px, 'assets/img/sprite.png', 'ui-playBtn-purple', );
$ui-quotes-active-name: 'ui-quotes-active';
$ui-quotes-active-x: 74px;
$ui-quotes-active-y: 156px;
$ui-quotes-active-offset-x: -74px;
$ui-quotes-active-offset-y: -156px;
$ui-quotes-active-width: 20px;
$ui-quotes-active-height: 15px;
$ui-quotes-active-total-width: 126px;
$ui-quotes-active-total-height: 324px;
$ui-quotes-active-image: 'assets/img/sprite.png';
$ui-quotes-active: (74px, 156px, -74px, -156px, 20px, 15px, 126px, 324px, 'assets/img/sprite.png', 'ui-quotes-active', );
$ui-quotes-name: 'ui-quotes';
$ui-quotes-x: 94px;
$ui-quotes-y: 156px;
$ui-quotes-offset-x: -94px;
$ui-quotes-offset-y: -156px;
$ui-quotes-width: 20px;
$ui-quotes-height: 15px;
$ui-quotes-total-width: 126px;
$ui-quotes-total-height: 324px;
$ui-quotes-image: 'assets/img/sprite.png';
$ui-quotes: (94px, 156px, -94px, -156px, 20px, 15px, 126px, 324px, 'assets/img/sprite.png', 'ui-quotes', );
$ui-reload-name: 'ui-reload';
$ui-reload-x: 51px;
$ui-reload-y: 156px;
$ui-reload-offset-x: -51px;
$ui-reload-offset-y: -156px;
$ui-reload-width: 23px;
$ui-reload-height: 20px;
$ui-reload-total-width: 126px;
$ui-reload-total-height: 324px;
$ui-reload-image: 'assets/img/sprite.png';
$ui-reload: (51px, 156px, -51px, -156px, 23px, 20px, 126px, 324px, 'assets/img/sprite.png', 'ui-reload', );
$ui-tether-border-name: 'ui-tetherBorder';
$ui-tether-border-x: 0px;
$ui-tether-border-y: 126px;
$ui-tether-border-offset-x: 0px;
$ui-tether-border-offset-y: -126px;
$ui-tether-border-width: 7px;
$ui-tether-border-height: 198px;
$ui-tether-border-total-width: 126px;
$ui-tether-border-total-height: 324px;
$ui-tether-border-image: 'assets/img/sprite.png';
$ui-tether-border: (0px, 126px, 0px, -126px, 7px, 198px, 126px, 324px, 'assets/img/sprite.png', 'ui-tetherBorder', );
$ui-youtube-active-name: 'ui-youtube-active';
$ui-youtube-active-x: 92px;
$ui-youtube-active-y: 126px;
$ui-youtube-active-offset-x: -92px;
$ui-youtube-active-offset-y: -126px;
$ui-youtube-active-width: 25px;
$ui-youtube-active-height: 25px;
$ui-youtube-active-total-width: 126px;
$ui-youtube-active-total-height: 324px;
$ui-youtube-active-image: 'assets/img/sprite.png';
$ui-youtube-active: (92px, 126px, -92px, -126px, 25px, 25px, 126px, 324px, 'assets/img/sprite.png', 'ui-youtube-active', );
$ui-youtube-name: 'ui-youtube';
$ui-youtube-x: 67px;
$ui-youtube-y: 126px;
$ui-youtube-offset-x: -67px;
$ui-youtube-offset-y: -126px;
$ui-youtube-width: 25px;
$ui-youtube-height: 25px;
$ui-youtube-total-width: 126px;
$ui-youtube-total-height: 324px;
$ui-youtube-image: 'assets/img/sprite.png';
$ui-youtube: (67px, 126px, -67px, -126px, 25px, 25px, 126px, 324px, 'assets/img/sprite.png', 'ui-youtube', );
$spritesheet-width: 126px;
$spritesheet-height: 324px;
$spritesheet-image: 'assets/img/sprite.png';
$spritesheet-sprites: ($services-accompaniment-active, $services-accompaniment, $services-documentation-active, $services-documentation, $services-info-active, $services-info, $services-optimization-active, $services-optimization, $services-order-active, $services-order, $ui-arrow-down, $ui-arrow-up, $ui-pause-btn-purple, $ui-play-btn-dark-gray, $ui-play-btn-purple, $ui-quotes-active, $ui-quotes, $ui-reload, $ui-tether-border, $ui-youtube-active, $ui-youtube, );
$spritesheet: (126px, 324px, 'assets/img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
