// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$services-accompaniment-name: 'services-accompaniment';
$services-accompaniment-x: 84px;
$services-accompaniment-y: 0px;
$services-accompaniment-offset-x: -84px;
$services-accompaniment-offset-y: 0px;
$services-accompaniment-width: 40px;
$services-accompaniment-height: 39px;
$services-accompaniment-total-width: 141px;
$services-accompaniment-total-height: 114px;
$services-accompaniment-image: 'assets/img/sprite.png';
$services-accompaniment: (84px, 0px, -84px, 0px, 40px, 39px, 141px, 114px, 'assets/img/sprite.png', 'services-accompaniment', );
$services-documentation-name: 'services-documentation';
$services-documentation-x: 0px;
$services-documentation-y: 42px;
$services-documentation-offset-x: 0px;
$services-documentation-offset-y: -42px;
$services-documentation-width: 42px;
$services-documentation-height: 42px;
$services-documentation-total-width: 141px;
$services-documentation-total-height: 114px;
$services-documentation-image: 'assets/img/sprite.png';
$services-documentation: (0px, 42px, 0px, -42px, 42px, 42px, 141px, 114px, 'assets/img/sprite.png', 'services-documentation', );
$services-info-highlighted-name: 'services-info-highlighted';
$services-info-highlighted-x: 84px;
$services-info-highlighted-y: 39px;
$services-info-highlighted-offset-x: -84px;
$services-info-highlighted-offset-y: -39px;
$services-info-highlighted-width: 30px;
$services-info-highlighted-height: 30px;
$services-info-highlighted-total-width: 141px;
$services-info-highlighted-total-height: 114px;
$services-info-highlighted-image: 'assets/img/sprite.png';
$services-info-highlighted: (84px, 39px, -84px, -39px, 30px, 30px, 141px, 114px, 'assets/img/sprite.png', 'services-info-highlighted', );
$services-info-name: 'services-info';
$services-info-x: 0px;
$services-info-y: 84px;
$services-info-offset-x: 0px;
$services-info-offset-y: -84px;
$services-info-width: 30px;
$services-info-height: 30px;
$services-info-total-width: 141px;
$services-info-total-height: 114px;
$services-info-image: 'assets/img/sprite.png';
$services-info: (0px, 84px, 0px, -84px, 30px, 30px, 141px, 114px, 'assets/img/sprite.png', 'services-info', );
$services-optimization-name: 'services-optimization';
$services-optimization-x: 0px;
$services-optimization-y: 0px;
$services-optimization-offset-x: 0px;
$services-optimization-offset-y: 0px;
$services-optimization-width: 42px;
$services-optimization-height: 42px;
$services-optimization-total-width: 141px;
$services-optimization-total-height: 114px;
$services-optimization-image: 'assets/img/sprite.png';
$services-optimization: (0px, 0px, 0px, 0px, 42px, 42px, 141px, 114px, 'assets/img/sprite.png', 'services-optimization', );
$services-order-name: 'services-order';
$services-order-x: 42px;
$services-order-y: 42px;
$services-order-offset-x: -42px;
$services-order-offset-y: -42px;
$services-order-width: 40px;
$services-order-height: 41px;
$services-order-total-width: 141px;
$services-order-total-height: 114px;
$services-order-image: 'assets/img/sprite.png';
$services-order: (42px, 42px, -42px, -42px, 40px, 41px, 141px, 114px, 'assets/img/sprite.png', 'services-order', );
$sn-footer-facebook-name: 'sn-footer-facebook';
$sn-footer-facebook-x: 136px;
$sn-footer-facebook-y: 21px;
$sn-footer-facebook-offset-x: -136px;
$sn-footer-facebook-offset-y: -21px;
$sn-footer-facebook-width: 5px;
$sn-footer-facebook-height: 12px;
$sn-footer-facebook-total-width: 141px;
$sn-footer-facebook-total-height: 114px;
$sn-footer-facebook-image: 'assets/img/sprite.png';
$sn-footer-facebook: (136px, 21px, -136px, -21px, 5px, 12px, 141px, 114px, 'assets/img/sprite.png', 'sn-footer-facebook', );
$sn-footer-linkedin-name: 'sn-footer-linkedin';
$sn-footer-linkedin-x: 124px;
$sn-footer-linkedin-y: 52px;
$sn-footer-linkedin-offset-x: -124px;
$sn-footer-linkedin-offset-y: -52px;
$sn-footer-linkedin-width: 12px;
$sn-footer-linkedin-height: 13px;
$sn-footer-linkedin-total-width: 141px;
$sn-footer-linkedin-total-height: 114px;
$sn-footer-linkedin-image: 'assets/img/sprite.png';
$sn-footer-linkedin: (124px, 52px, -124px, -52px, 12px, 13px, 141px, 114px, 'assets/img/sprite.png', 'sn-footer-linkedin', );
$sn-footer-twitter-name: 'sn-footer-twitter';
$sn-footer-twitter-x: 124px;
$sn-footer-twitter-y: 41px;
$sn-footer-twitter-offset-x: -124px;
$sn-footer-twitter-offset-y: -41px;
$sn-footer-twitter-width: 15px;
$sn-footer-twitter-height: 11px;
$sn-footer-twitter-total-width: 141px;
$sn-footer-twitter-total-height: 114px;
$sn-footer-twitter-image: 'assets/img/sprite.png';
$sn-footer-twitter: (124px, 41px, -124px, -41px, 15px, 11px, 141px, 114px, 'assets/img/sprite.png', 'sn-footer-twitter', );
$ui-arrow-down-name: 'ui-arrowDown';
$ui-arrow-down-x: 77px;
$ui-arrow-down-y: 84px;
$ui-arrow-down-offset-x: -77px;
$ui-arrow-down-offset-y: -84px;
$ui-arrow-down-width: 22px;
$ui-arrow-down-height: 22px;
$ui-arrow-down-total-width: 141px;
$ui-arrow-down-total-height: 114px;
$ui-arrow-down-image: 'assets/img/sprite.png';
$ui-arrow-down: (77px, 84px, -77px, -84px, 22px, 22px, 141px, 114px, 'assets/img/sprite.png', 'ui-arrowDown', );
$ui-arrow-up-name: 'ui-arrowUp';
$ui-arrow-up-x: 55px;
$ui-arrow-up-y: 84px;
$ui-arrow-up-offset-x: -55px;
$ui-arrow-up-offset-y: -84px;
$ui-arrow-up-width: 22px;
$ui-arrow-up-height: 22px;
$ui-arrow-up-total-width: 141px;
$ui-arrow-up-total-height: 114px;
$ui-arrow-up-image: 'assets/img/sprite.png';
$ui-arrow-up: (55px, 84px, -55px, -84px, 22px, 22px, 141px, 114px, 'assets/img/sprite.png', 'ui-arrowUp', );
$ui-pause-btn-purple-name: 'ui-pauseBtn-purple';
$ui-pause-btn-purple-x: 124px;
$ui-pause-btn-purple-y: 21px;
$ui-pause-btn-purple-offset-x: -124px;
$ui-pause-btn-purple-offset-y: -21px;
$ui-pause-btn-purple-width: 12px;
$ui-pause-btn-purple-height: 20px;
$ui-pause-btn-purple-total-width: 141px;
$ui-pause-btn-purple-total-height: 114px;
$ui-pause-btn-purple-image: 'assets/img/sprite.png';
$ui-pause-btn-purple: (124px, 21px, -124px, -21px, 12px, 20px, 141px, 114px, 'assets/img/sprite.png', 'ui-pauseBtn-purple', );
$ui-play-btn-dark-gray-name: 'ui-playBtn-darkGray';
$ui-play-btn-dark-gray-x: 42px;
$ui-play-btn-dark-gray-y: 0px;
$ui-play-btn-dark-gray-offset-x: -42px;
$ui-play-btn-dark-gray-offset-y: 0px;
$ui-play-btn-dark-gray-width: 42px;
$ui-play-btn-dark-gray-height: 42px;
$ui-play-btn-dark-gray-total-width: 141px;
$ui-play-btn-dark-gray-total-height: 114px;
$ui-play-btn-dark-gray-image: 'assets/img/sprite.png';
$ui-play-btn-dark-gray: (42px, 0px, -42px, 0px, 42px, 42px, 141px, 114px, 'assets/img/sprite.png', 'ui-playBtn-darkGray', );
$ui-play-btn-purple-name: 'ui-playBtn-purple';
$ui-play-btn-purple-x: 124px;
$ui-play-btn-purple-y: 0px;
$ui-play-btn-purple-offset-x: -124px;
$ui-play-btn-purple-offset-y: 0px;
$ui-play-btn-purple-width: 17px;
$ui-play-btn-purple-height: 21px;
$ui-play-btn-purple-total-width: 141px;
$ui-play-btn-purple-total-height: 114px;
$ui-play-btn-purple-image: 'assets/img/sprite.png';
$ui-play-btn-purple: (124px, 0px, -124px, 0px, 17px, 21px, 141px, 114px, 'assets/img/sprite.png', 'ui-playBtn-purple', );
$ui-quotes-gray-name: 'ui-quotes-gray';
$ui-quotes-gray-x: 84px;
$ui-quotes-gray-y: 69px;
$ui-quotes-gray-offset-x: -84px;
$ui-quotes-gray-offset-y: -69px;
$ui-quotes-gray-width: 20px;
$ui-quotes-gray-height: 15px;
$ui-quotes-gray-total-width: 141px;
$ui-quotes-gray-total-height: 114px;
$ui-quotes-gray-image: 'assets/img/sprite.png';
$ui-quotes-gray: (84px, 69px, -84px, -69px, 20px, 15px, 141px, 114px, 'assets/img/sprite.png', 'ui-quotes-gray', );
$ui-quotes-red-name: 'ui-quotes-red';
$ui-quotes-red-x: 104px;
$ui-quotes-red-y: 69px;
$ui-quotes-red-offset-x: -104px;
$ui-quotes-red-offset-y: -69px;
$ui-quotes-red-width: 20px;
$ui-quotes-red-height: 15px;
$ui-quotes-red-total-width: 141px;
$ui-quotes-red-total-height: 114px;
$ui-quotes-red-image: 'assets/img/sprite.png';
$ui-quotes-red: (104px, 69px, -104px, -69px, 20px, 15px, 141px, 114px, 'assets/img/sprite.png', 'ui-quotes-red', );
$ui-reload-name: 'ui-reload';
$ui-reload-x: 99px;
$ui-reload-y: 84px;
$ui-reload-offset-x: -99px;
$ui-reload-offset-y: -84px;
$ui-reload-width: 23px;
$ui-reload-height: 20px;
$ui-reload-total-width: 141px;
$ui-reload-total-height: 114px;
$ui-reload-image: 'assets/img/sprite.png';
$ui-reload: (99px, 84px, -99px, -84px, 23px, 20px, 141px, 114px, 'assets/img/sprite.png', 'ui-reload', );
$ui-youtube-name: 'ui-youtube';
$ui-youtube-x: 30px;
$ui-youtube-y: 84px;
$ui-youtube-offset-x: -30px;
$ui-youtube-offset-y: -84px;
$ui-youtube-width: 25px;
$ui-youtube-height: 25px;
$ui-youtube-total-width: 141px;
$ui-youtube-total-height: 114px;
$ui-youtube-image: 'assets/img/sprite.png';
$ui-youtube: (30px, 84px, -30px, -84px, 25px, 25px, 141px, 114px, 'assets/img/sprite.png', 'ui-youtube', );
$spritesheet-width: 141px;
$spritesheet-height: 114px;
$spritesheet-image: 'assets/img/sprite.png';
$spritesheet-sprites: ($services-accompaniment, $services-documentation, $services-info-highlighted, $services-info, $services-optimization, $services-order, $sn-footer-facebook, $sn-footer-linkedin, $sn-footer-twitter, $ui-arrow-down, $ui-arrow-up, $ui-pause-btn-purple, $ui-play-btn-dark-gray, $ui-play-btn-purple, $ui-quotes-gray, $ui-quotes-red, $ui-reload, $ui-youtube, );
$spritesheet: (141px, 114px, 'assets/img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
