@media (min-width: 768px) {
  html {
    // font-size: 13.777px; /* Uncomment this out to switch from responsive to adaptive layout */
    font-size: calc(0.8vh + 0.45vw); /* Comment this out to switch from responsive to adaptive layout */
  }

  .header-inner,
  .jumbo-inner,
  .services-innerContainer {
    width: 100%;
  }

  .header-inner {
    padding: 2em;
    padding: 39px 53px 0 104px;
  }

  .header-hamburgerBtn {
    display: none;
  }

  .header-nav {
    @include flex(flex-end);
    flex: 1;
  }

  .header-menu {
    @include flex(space-around, center, row, nowrap);
    margin-right: 8.1rem;
    &--desk { display: block; }
    &--mob { display: none; }
  }

  .header-menuItem {
    display: inline-block;
    margin-left: 1.5rem;
    font-size: .8rem;
    font-weight: 600;
  }

  /* ====================== JUMBOTRON ====================== */

  .jumbo-inner {
    @include flex(space-between, stretch);
  }

  .jumbo-article {
    padding: 5.15rem 3.5rem 4rem 7.9rem;
    width: 50%;
    z-index: 101;
  }

  .jumbo-text {
    width: 30rem;
  }

  .jumbo-btn {
    margin-left: 0;
    &:hover {
      &:before {
        filter: invert(0.7);
      }
    }
  }

  /* ====================== SERVICES ====================== */
  
  .services-subtitle {
    width: 56%;
  }

  .services-item {
    width: 50%;
    height: 18.2rem;
    padding: 3rem 4rem 2rem 2rem;
    &:before {
      position: absolute;
      top: 4rem;
      margin: 0;
    }
  }

  .services-contentWrapper {
    position: absolute;
    top: 4.5rem;
    left: 7.5rem;
    width: 68%;
  }

  /* ====================== REVIEWS ====================== */

  .reviews-innerContainer {
    padding: 0rem 1rem;
  }

  .reviews-item {
    width: 30%;
    padding: 1.1rem 1.05rem;
    &:before { margin: 0 0 1rem; }
    &:hover {
      &:not(.reviews-item--video):before {
        @include sprite($ui-quotes-red);
      }
      .reviews-name { color: $purple; }
    }
    &--video {
      &:before { margin: -0.5rem 0 1rem; }
      .reviews-content { margin: 1.2rem 0.1rem 1rem; }
    }
  }

  .reviews-content {
    margin: 1rem 0.1rem .7rem;
    font-size: 1.1rem;
    line-height: 1.55;
  }

  .reviews-avatar {
    float: none;
    margin: 2.1rem 0 0;
  }

  .reviews-user {
    float: none;
    text-align: left;
    margin-top: .7rem;
    font-size: 0.9rem;
  }

  .reviews-loadMore {
    margin-top: 3.9rem;
  }

  /* ====================== CONTACT ====================== */
  
  .contact-header {
    padding: 3.7rem 0 0;
  }

  .contact-innerContainer {
    padding: 2rem 14.5rem;
    vertical-align: middle;
  }

  .contact-form {
    @include flex(space-between, flex-start, null, wrap);
    padding-left: .1rem;
  }

  .contact-leftColumn {
    width: 47.4%;
    padding-top: 0.15rem;
    margin-bottom: 0;
  }
  
  .contact-input {
    font-size: 0.8rem;
    height: 2.1rem;
    border-width: 1px;
  }

  .contact-dropdown {
    margin-top: 2.1rem;
    min-height: 3.4rem;
  }

  .contact-dropdownHeader {
    justify-content: space-between;
    height: 3.4rem;
    padding: 0 1.4rem;
    @include contactText();
  }

  .contact-multiselect {
    padding: 1.3rem 1.4rem;
    font-size: 0.85rem;
  }
  
  .contact-select {
    line-height: 2.4;
  }

  .contact-rightColumn {
    width: 49%;
    padding: 0 0.05rem 0 0.8rem;
  }

  .contact-textareaLabel {
    @include contactText();
    text-align: left;
    margin-bottom: 0.6rem;
  }

  .contact-textarea {
    height: 16.8rem;
  }

  .contact-buttonWrapper {
    width: 100%;
  }
  
}

@media (min-width: 910px) {

  .jumbo-photo {
    width: 30rem;
    margin-right: 7.1rem;
    z-index: 100;
    background: {
      image: url('assets/photo/jumbotron-bg.jpg');
      size: cover;
    }
  }

  .reviews-workplaceLink {
    &:hover {
      text-decoration: none;
    }
  }

  .reviews-loadMore {
    &:before {
      animation-duration: 0.3s;
      animation-name: rotate-left;
    }
    &:hover {
      &:before {
        animation-name: rotate-right;
        animation-iteration-count: 1;
      }
    }
  }

  @keyframes rotate-right {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(180deg); }
  }

  @keyframes rotate-left {
    0% { transform: rotate(180deg); }
    100% { transform: rotate(0deg); }
  }

}

@media (min-width: 1280px) {

  .header-inner,
  .jumbo-inner,
  .services-innerContainer,
  .reviews-innerContainer,
  .contact-innerContainer {
    @extend %sectionInner;
  }

  .header-inner,
  .jumbo {
    background-color: $jumbotronWhite;
  }

  .services-item {
    padding: 3rem 4rem 2rem 7.9rem;
  }
  
  .services-contentWrapper {
    left: 12.6rem;
    width: 59%;
  }
  
  .services-subtitle {
    width: 33%;
  }

  .reviews-innerContainer {
    padding: 0rem 4rem;
  }

}