html {
  height: 100%;
  font-size: 16px;
  font-size: 3.9vw;
}

body {
  height: 100%;
}

strong { font-weight: bold; }

.main { margin-top: $headerHeight; }

/* ====================== JUMBOTRON ====================== */

.jumbo-article { padding: 3rem; }

.jumbo-title {
  @extend %title;
  width: 23rem;
}

.jumbo-divider {
  @extend %divider;
  margin: 1.7rem 0;
}

.jumbo-text {
  @extend %text;
  width: 20rem;
  padding: .1rem 0;
  p {	margin-bottom: 1.5em;	}
}

.jumbo-btn {
  @extend %purpleButton;
	@include flex(flex-start);
  margin: 2rem auto 0;
  &:before {
    @include icon($ui-arrow-down);
    margin-right: 1rem;
    transition: all $duration ease;
  }
}

.jumbo-playBtn {
  @include flex();
  width: $jumbo-playBtn-size;
  height: $jumbo-playBtn-size;
  position: absolute;
  top: 19rem;
  left: calc(50% - (#{$jumbo-playBtn-size} / 2));
  background-color: $gray;
  border-radius: 50%;
  z-index: 110;
  &:before {
    @include icon($ui-play-btn-purple);
  }
  &--paused {
    &:before {
      @include sprite($ui-pause-btn-purple);
    }
  }
}

/* ====================== SERVICES ====================== */

.services-header { @extend %sectionHeader; }

.services-title { @extend %sectionTitle; }

.services-subtitle { @extend %sectionSubtitle; }

.services-innerContainer {
  @include flex(space-between, flex-start, null, wrap);
}

.services-item {
  width: 100%;
  padding: 2rem;
  text-align: left;
  position: relative;
  // border: 1px dotted #000; // ---------------- TODO: borders with wider gaps between dots ----------------
  &:before {
    @include beforeAfterDefaults;
    margin: 0 auto 1rem;
  }
  @for $i from 1 to length($services-icons) + 1 {
    &:nth-child(#{$i}) {
      &:before {
        @include sprite(nth($services-icons, $i));
      }
    }
  }
  &:nth-child(2) {
    &:before { filter: grayscale(1) brightness(3.1); } // ---------------- Temporary ----------------
  }
  &:hover,
  &--active {
    .services-contentTitleWrapper {
      &:after { 
        @include sprite-position($services-info-highlighted);
      }
    }
  }
}

.services-contentTitleWrapper {
  @include flex(space-between, flex-start);
  &:after {
    @include icon($services-info);
  }
}

.services-contentTitle {
  @extend %servicesContentTitle;
  width: 88%;
  margin-bottom: 1.5rem;
}

.services-contentText {
  font-size: .9rem;
  line-height: 1.5;
  ul { padding-left: 1rem; }
  li {
    position: relative;
    margin-left: 0.7rem;
    @include listBullet($purple, absolute, .4rem, -1.7rem);
  }
}

/* ================== Services - Modal ================== */

.services-modal {
  @include flex(null, flex-start, row, wrap);
  align-content: flex-start;
  width: 100%;
  background-color: #fff;
  position: relative;
  padding: 2rem 2rem 0 2rem;
  font-size: .87rem;
  &:before {
    @include modalBeforeAfter();
    top: -92px;
    left: 1.8rem;
    transform: rotate(270deg) translateY(50%);
  }
}

.modal-servicesContainer {
  @include flex(space-between, flex-start);
}

.modal-pricesContainer {
  @include flex(space-between, flex-start);
}

.modal-serviceLeftTitle,
.modal-priceLeftTitle {
  width: 17.5%;
  @include contactFont();
  font-size: .7rem;
}

.modal-serviceLeftTitle {
  height: $modalTitleHeight;
  @include flex(null, flex-end);
  padding-bottom: 0.3rem;
}

.modal-title,
.modal-pricesAndButtonContainer {
  width: 82.5%;
}

.modal-title {
  @extend %servicesContentTitle;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  height: $modalTitleHeight;
}

.modal-text {
  width: 100%;
  padding: 0 0.9rem 0 3.8rem;
  line-height: 1.6;
  margin-bottom: 0.7rem;
  p {
    margin-bottom: 1.3rem;
  }
}

.modal-pricesContainer {
  width: 96%;
  margin-bottom: 2.3rem;
}

.modal-workersQuantity {
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.modal-workers {
  font-size: .73rem;
  margin-bottom: 1.4rem;
}

.modal-priceWrapper {
  font-size: .73rem;
}

.modal-price {
  font-size: 1.2rem;
  font-weight: bold;
}

.modal-currency {
  font-weight: bold;
}

.modal-orderBtn {
  @extend %purpleButton;
  width: 8.7rem;
  height: 3rem;
  margin-bottom: 2rem;
}

/* ====================== REVIEWS ====================== */

.reviews {
  margin-bottom: 3.5rem;
}

.reviews-header { @extend %sectionHeader; }

.reviews-title { @extend %sectionTitle; }

.reviews-subtitle { @extend %sectionSubtitle; }

.reviews-innerContainer {
  @include flex(space-between, flex-start, null, wrap);
}

.reviews-item {
  width: 100%;
  padding: 2rem;
  text-align: left;
  &:before {
    @include icon($ui-quotes-gray);
    margin: 0 auto 1rem;
  }
  &--video {
    &:before {
      @include sprite($ui-youtube);
    }
  }
}

.reviews-avatar {
  float: right;
  margin: 1rem 0 0 2rem;
  border-radius: 50%;
}

.reviews-videoContainer {
  position: relative;
  &:before {
    @include icon($ui-play-btn-dark-gray);
    position: absolute;
    top: 5rem;
    left: 9rem;
  }
}

.reviews-user {
  margin: 1.5rem 0 0;
  float: right;
  text-align: center;
  &--noAvatar {
    float: none;
    margin: 1.5rem auto 0;
  }
}

.reviews-name {
  font-weight: bold;
}

.reviews-job {
  margin-top: 1rem;
}

.reviews-jobPosition {
  &:after {
    content: '•';
    color: $purple;
    margin-left: 0.3rem;
  }
}

.reviews-workplaceLink {
  font-weight: bold;
  @include linkUnderline;
}

.reviews-loadMore {
  display: block;
  width: 9rem;
  margin: 1rem auto;
  @include flex(space-between);
  font-size: 0.7rem;
  font-weight: 900;
  text-transform: uppercase;
  &:before {
    @include icon($ui-reload);
  }
}

/* ====================== CONTACT ====================== */

.contact-header {
  @extend %sectionHeader;
  padding: 2.5rem 1.5rem;
}

.contact-title { @extend %sectionTitle; }

.contact-innerContainer {
  padding: 2rem;
}

.contact-leftColumn {
  margin-bottom: 2rem;
}

.contact-input {
  width: 100%;
  margin-bottom: 1rem;
  font: 700 0.9rem/1 'GothaPro', sans-serif;
  text-transform: uppercase;
  @include placeholder(null, null, 500);
  border: {
    color: $gray;
    top: none;
    right: none;
    left: none;
  }
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  outline: none;
}

.contact-dropdown {
  margin-top: 1rem;
  border: 1px solid $gray;
  overflow: hidden;
  min-height: 2.5rem;
  transition: all .7s ease;
  &--squeezed {
    .contact-dropdownHeader {
      &:after {
        transform: rotate(180deg);
      }
    }
  }
}

.contact-dropdownHeader {
  width: 100%;
  height: 2.5rem;
  border-bottom: 1px solid $gray;
  @include flex();
  z-index: 101;
  background-color: #fff;
  position: relative;
  &:after {
    @include icon($ui-arrow-up);
    margin-left: 0.5rem;
  }
}

.contact-multiselect {
  padding: 1rem;
  overflow: hidden;
  transition: all .7s ease;
  z-index: 100;
}

.contact-select {
  display: inline-block;
  width: 5%;
  line-height: 1.4;
  @include listBullet($gray);
  &--checked {
    &:before {
      border-color: $purple;
    }
  }
  &:hover,
  &--hover, {
    &:not(.contact-select--checked):before {
      border-color: darken($gray, 10%);
    }
  }
}

.contact-selectInput {
  display: none;
}

.contact-selectDefinition {
  display: inline-block;
  width: 90%;
  line-height: 1.4;
  &--checked,
  &--hover,
  &:hover {
    color: $purple;
  }
  &--checked {
    font-weight: bold;
  }
}

.contact-selectDefinitionBtn {
  text-align: left;
}

.contact-textareaLabel {
  text-align: center;
  margin: 1rem 0;
}

.contact-textarea {
  width: 100%;
  padding: 1rem;
  box-sizing: inherit;
  resize: none;
  border-color: $gray;
  font-family: 'GothaPro';
}

.contact-buttonWrapper {
  @include flex();
  margin: 2.5rem 0;
}

.contact-submitBtn {
  @extend %purpleButton;
}
